main {
    display: flex;
    position: relative;
    padding: 4em;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    align-items: stretch;
    gap: 0;
}
div#entradas {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1em;
}
aside#secundario.arriba {
    align-self: flex-start;
}
aside#secundario.abajo {
    align-self: flex-end;
}
aside#secundario.fijo {
    position: fixed;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    opacity: 1;
    transition: opacity 1s;
}
aside#secundario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    width: 30%;
    text-align: justify;
    height: fit-content;
    z-index: 0;
    color: white;
}
aside#secundario > * {
    padding: 1em;
    box-sizing: border-box;
}
aside div.contenidoAside {
    gap: 5px;
}
aside > h2 {
    background-color: #271427;
    box-shadow: 2px 2px 5px black;
}
aside a {
    background-color: #efefef;
    color: #9b9b9b;
    font-size: 11pt;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 6px #ed6bff;
    font-family: 'Oleo Script Swash Caps';
    text-align: center;
    transition: transform 0.2s;
}
aside a:hover {
    background-color: #fdeaff;
    color: white;
    font-size: 11pt;
    box-shadow: 0 0 27px #810075, inset 0 0 50px #810075;
    transform: scale(1.1);
}
aside a#actual {
    background-color: #2a2a2a;
    color: #8c8c8c;
    font-size: 11pt;
    box-shadow: 0 0 27px #7c0070, inset 0 0 50px #5a0052;
    transform: none;
}
aside h2, aside p {
    margin: 0;
}
aside .contenidoAside {
    display: flex;
    flex-direction: column;
}
img.ilustracionMatematica {
    width: fit-content;
    height: fit-content;
}
/*imagen a izquierda y caja a la derecha*/
div.imgIzquierda {
    display: flex;
    box-sizing: border-box;
    gap: 1em;
}
em {
    font-weight: bold;
    font-size: 1.1rem;
    color: #a131a1;
    display:block;
    margin-top:1em;
    margin-bottom:1em;
}
em::before {
    content: "<";
    font-size: 1.2rem;
    color: #a131a1;
}
em::after {
    content: "/>";
    font-size: 1.2rem;
    color: #a131a1;
}

div.cajaControles {
    display: flex;
    gap: 1em;
    align-items: stretch;
}
div.contenido p {
    margin-top: 1em;
    margin-bottom: 1em;
}
div.lineaTemporal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;
}
ul.cronologia {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 6px;
    background-color: rgb(248 209 255);
    gap: 2em;
    box-shadow: 0 0 21px #320034;
}
ul.cronologia li {
    position: relative;
    width: 200px;
    transform: translateY(-50%);
    user-select: none;
}
ul.cronologia li p:nth-child(1) {
    color: #212121;
    text-shadow: 0 0 5px rgb(51, 0, 51);
    font-family: 'Oleo Script Swash Caps';
}
/*
GUI:
Primario: #271427;
Secundario: #593b57;
fondo: #212121;
*/
ul.cronologia li p:nth-child(2) {
    color: purple;
    text-shadow: pink;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
ul.cronologia li:nth-child(2n)::before {
    position: absolute;
    content: " ";
    top: 100%;
    left: 0;
    width: 300px;
    height: 5px;
    background-color: pink;
    box-shadow: 0 0 21px #320034;
}
ul.cronologia li:nth-child(2n) {
    left: -203px;
}
ul.cronologia li:nth-child(2n+1)::before {
    position: absolute;
    content: " ";
    top: 100%;
    left: -100px;
    width: 300px;
    height: 5px;
    background-color: pink;
    box-shadow: 0 0 21px #320034;
}
ul.cronologia li:nth-child(2n+1) {
    left: 203px;
}