.boton-aceptar {
    background-color: #6b79ff;
    color: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16pt;
    box-shadow: 2px 2px 5px black;
}
.boton-aceptar:hover {
    box-shadow: 0 0 2px black;
    background-color: #5362e4;
}
.boton-cancelar {
    background-color: #e63939;
    color: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16pt;
    box-shadow: 2px 2px 5px black;
}
.boton-cancelar:hover {
    box-shadow: 0 0 2px black;
    background-color: #cf2727;
}