div.menuComentar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
div.menuComentar .cabecera {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.menuComentar textarea {
    resize: none;
}
div.menuComentar button {
    width: 20%;
    padding: 1em;
    background-color: #271427;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px #593b57;
    transition: transform 0.3s;
}
div.menuComentar .cajaControles button:hover {
    box-shadow: 0 0 2px #271427;
    background-color: #593b57;
    transform: scale(1.05);
}
div.menuComentar .cajaControles img {
    width: 50px;
    margin: 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.2s;
}
div.comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffeaff;
    border-radius: 5px;
    box-shadow: 0 0 10px purple;
    margin-top: 2em;
    margin-bottom: 2em;
}
div.comentario p {
    margin: 0;
}
/*corregir bug de hr invisibles*/
hr {
    width: 100%;
}
div.comentario div.usuarioMediano {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.comentario div.usuarioMediano img {
    width: 70px;
}
div.comentario .contenido {
     width: 70%;
}
div.comentario .contenido p {
    padding-left: 2em;
    padding-right: 2em;
    word-break: break-word;
}
div.menuComentar div.cajaControles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}