ul.cronologia {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 6px;
    background-color: rgb(248 209 255);
    gap: 2em;
    box-shadow: 0 0 21px #320034;
}
ul.cronologia li {
    position: relative;
    width: 200px;
    transform: translateY(-50%);
    user-select: none;
}
ul.cronologia li p:nth-child(1) {
    color: #212121;
    text-shadow: 0 0 5px rgb(51, 0, 51);
    font-family: 'Oleo Script Swash Caps';
}
/*
GUI:
Primario: #271427;
Secundario: #593b57;
fondo: #212121;
*/
ul.cronologia li p:nth-child(2) {
    color: purple;
    text-shadow: pink;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
ul.cronologia li:nth-child(2n)::before {
    position: absolute;
    content: " ";
    top: 100%;
    left: 0;
    width: 300px;
    height: 5px;
    background-color: pink;
    box-shadow: 0 0 21px #320034;
}
ul.cronologia li:nth-child(2n) {
    left: -203px;
}
ul.cronologia li:nth-child(2n+1)::before {
    position: absolute;
    content: " ";
    top: 100%;
    left: -100px;
    width: 300px;
    height: 5px;
    background-color: pink;
    box-shadow: 0 0 21px #320034;
}
ul.cronologia li:nth-child(2n+1) {
    left: 203px;
}