div#cabecera {
    box-shadow: none;
}
main {
    padding: 0;
}
canvas {
    width: 100%;
    height: 100%;
}
div#ventanaEdicion {
    padding: 1em;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
div#controlesVentana {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    background-color: #5a5a5a;
    background: linear-gradient(to Right, black, #626262de);
    padding: 5px;
}
div#iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
img.iconoDeshabilitado, img.iconoHabilitado {
    width: 25px;
    height: 25px;
    box-shadow: 1px 1px 3px black;
    padding: 5px;
}
img.iconoHabilitado {
    background-color: white;
    color: black;
}
img.iconoHabilitado:hover {
    transform: scale(1.1);
}
img.iconoDeshabilitado {
    background-color: rgb(184, 184, 184);
    color: rgb(42, 42, 42);
}
div#barraHerramientas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
ul#listaBotones {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}
div.boton {
    background-color: black;
    color: white;
    padding: 1em;
    width: 20%;
    text-align: center;
}
div.boton p {
    margin: 0;
}
div.boton:hover {
    background-color: white;
    color: black;
}
p.contenedor {
    position: relative;
}
ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: stretch;
    width:100%;
}
ul.submenu li {
    background-color: black;
    color: white;
    text-align: center;
}
ul.submenu li:hover {
    background-color: white;
    color: black;
}