div.menu {
    position: absolute;
    display: flex;
    flex-grow: 1;
    background-color: grey;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    background-color: #271427;
    box-shadow: 2px 2px 5px black;
    overflow-y: scroll;
    color: white;
    width: 40%;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    pointer-events: all;
}
/*despliega hacia izquierda, pero se situa en derecha*/
div.menu-desplegable-izquierda .iconoBooleano {
    position: absolute;
    content: " ";
    top: 25px;
    right: 100%;
    width: 50px;
    height: 50px;
    background-color: pink;
    z-index: 250;
    border-radius: 50px;
    box-sizing: border-box;
    transition: transform 0.1s;
}
div.menu-desplegable-izquierda .iconoBooleano:hover{
    transform: scale(1.1);
}
div.menu-desplegable-izquierda {
    position: absolute;
    display: flex;
    background-color: grey;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    background-color: #271427;
    box-shadow: 2px 2px 5px black;
    color: white;
    height: 100%;
    padding: 1em;
    box-sizing: border-box;
    pointer-events: all;
    right: -20%;
    transition: right 0.3s;
    width: 25%;
}
div#lienzo {
    position: relative;
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-self: center;
}
div.ventana {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
div.nombreValor input {
    width: 40%;
}
div.nombreValor p {
    margin: 0;
}
/*override de editor.css para aumentar z index del menu de la ventana*/
div#barraHerramientas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #212121;
    pointer-events: all;
    flex-grow: 1;
    height: 50px;
    z-index: 1;
}
div.barraCierre {
    gap: 1em;
}
div.boton {
    color: white;
}
/*------------------------------------------------------------------*/
div.contenedorCanvas {
    width: 100%;
}
/*canvas {
    height: 100%;
    width: auto;
}*/
div.menu > h1, div.menu p {
    margin: 0;
}
div.presets {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}
div.preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    background-color: #212121;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    width: 100%;
    user-select: none;
}
div.preset:hover {
    background-color: #383838;
}
div.preset img {
    width: 100%;
    box-shadow: 1px 1px 3px black;
}
div.preset p {
    text-align: justify;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: underline;
    font-size: 14pt;
}
div.preset small {
    text-align: justify;
}