@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(127 69 69) url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    background-blend-mode: luminosity;
}

div#cabecera {
    background: linear-gradient(45deg, #000000, #ffffff80);
    box-shadow: 3px 3px 5px black;
}

header {
    color: #1f091d;
    text-align: center;
    animation-name: animHeader;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

header h1{
    margin: 0;
    animation-duration: 6s;
    animation-name: animTitulo;
    animation-iteration-count: infinite;
    color: white;
}

header h1::first-letter{
    color: #ff9df4;
    font-size: 1.2em;
}

header h1, header h2 {
    font-family: "Monoton";
    font-size: 6em;
    font-style: italic;
    font-weight: 800;
}

header h2 {
    margin-left: 8em;
    font-size: 1em;
    margin: 0;
    animation-duration: 0.5s;
    animation-name: animSubtitulo;
    animation-iteration-count: infinite;
    font-family: "Black Ops One";
}

@keyframes animSubtitulo {
    from {
        color: pink;
    }
    50% {
        color: white;
    }
}
@keyframes animTitulo {
    from {
        color: white;
    }
    50% {
        color: pink;
    }
}

nav, header {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}
nav {
    position: relative;
    text-align: center;
    background: linear-gradient(to Right, #997070, #ffffff80);
}
nav ul{
    display: flex;
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;
    gap: 4em;
}
nav ul li {
    margin: 0;
    padding:0;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}
nav ul li a.actual {
    text-decoration: none;
    padding: 1em;
    background-color: rgb(74, 153, 73);
    color: rgb(62, 62, 62);
    box-shadow: 1px 1px 5px black;
    text-align: center;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: rgb(121, 255, 119);
    width: 100%;
    color: black;
    box-shadow: 2px 2px 5px black;
    text-align: center;
}
nav ul li a:hover:not(a.actual) {
    background-color: rgb(83, 255, 80);
    animation-duration: 1s;
    animation-name: animBotonNav;
}

@keyframes animBotonNav {
    from {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1.2,1.2);
    }
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    width: 100%;
    gap: 200px;
    box-sizing: border-box;
}
main h2 {
    margin-top: 0;
    font-family: "Oleo Script Swash Caps";
}

main section p{
    margin-bottom: 0;
}
footer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: white;
    border-top: 2px solid black;
    background-color: #212121;
    align-items: center;
    position: relative;
}
footer div#infoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    padding: 5em;
    padding-left: 10em;
    padding-right: 10em;
    box-shadow: 3px 3px 5px black;
}
footer div#infoFooter h2 {
    margin: 0.5em;
}
footer div#infoFooter p {
    margin-bottom: 0;
}
footer small {
    position: absolute;
    bottom: 10px;
}