@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
    /*background: url("/bloomJS/img/fondo.jpg");
    background-position: 50%;
    background-attachment: fixed;
    background-size: cover;*/
    scroll-behavior: smooth;
    font-family: "Roboto Condensed";
}

div#cabecera {
    /*background: rgb(0 0 0) url(../img/fondo.jpg);*/ 
    background: rgb(0 0 0) url(../img/fondoHeader.png);
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
    /* box-shadow: 3px 3px 5px black; */
    box-shadow: inset 2px 2px -21px #ff00ec;
    height: 90vh;
    z-index: 1;
    position: relative;
}

header {
    color: #1f091d;
    text-align: center;
    animation-name: animHeader;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
header h1:before {
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    background: linear-gradient(180deg, #ffa7fc, #36003afc), linear-gradient(90deg, #0b5200, white);
    transform: perspective(1em) rotateX(170deg);
    z-index: -1;
    filter: blur(49px);
    background-blend-mode: darken;
    animation-name: animH1Before;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
}
header h1{
    position: relative;
    margin: 0;
    color: #9e369e;
    /* text-shadow: 0 0 0.4em #ffd3fc; */
    width: fit-content;
    z-index: 0;
    text-shadow: 0 0 0.25em #ffd6fd;
    animation-name: animTitulo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
}

header h1::first-letter{
    color: #daffde;
    font-size: 1.2em;
    text-shadow: 0 0 0.2em #99ff8e;
}

header h1, header h2 {
    font-family: "Monoton";
    font-size: 8em;
    font-style: italic;
    font-weight: 600;
}

header h2 {
    margin-left: 8em;
    font-size: 1em;
    margin: 0;
    /*font-family: "Black Ops One";*/ 
    text-shadow: 0 0 0.5em #ff00ec;
    z-index: 0;
    color: white;
}

nav, header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    padding-top: 2em;
    padding-bottom: 2em;
}
nav {
    position: relative;
    text-align: center;
    /* background: linear-gradient(to Right, #35353500, #fe83ff69);*/ 
    padding: 0;
}
nav ul{
    display: flex;
    margin: 0;
    padding:1em;
    align-items: center;
    justify-content: center;
    gap: 4em;
    box-sizing: border-box;
}
nav ul li {
    position: relative;
    margin: 0;
    padding:0;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 2em;
    background:none;
    text-decoration: none;
    /*padding: 1em;*/
    /*background-color: rgb(116, 0, 120);*/
    width: 100%;
    color: white;
    /*box-shadow: 2px 2px 5px black;*/
    text-align: center;
    /*box-shadow: inset 0 0 2em purple;
    box-shadow: 0 0 2em purple;*/
    box-shadow: inset 0 0 2.5em purple;
    border-radius: 5px;
}
nav ul li.actual {
    text-decoration: none;
    padding: 1em;
    background-color: rgb(74, 153, 73);
    color: rgb(62, 62, 62);
    box-shadow: 1px 1px 5px black;
    text-align: center;
}
nav ul li a::before {
    position: absolute;
    content: " ";
    top: 85%;
    left: 0;
    width: 100%;
    height: 66%;
    background-color: rgb(80, 0, 65);
    transform: perspective(107px) rotateX(76deg);
    filter: blur(23px);
    pointer-events: none;
}
nav ul li a {
    padding: 0.5em;
    width: 100%;
    font-family: 'Oleo Script Swash Caps';
    text-decoration: none;
    color: rgb(151 0 123);
    text-shadow: 0 0 0.25em #680068;
    font-size: 21pt;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: 4px solid rgb(80, 0, 65);
    border-radius: 5px;
    background-color: black;
}
nav ul li a:hover::before {
    background-color: rgb(255, 52, 218);
}

nav ul li a.actual {
    color: #daffde;
    text-shadow: 0 0 0.2em #99ff8e;
    border: 4px solid #99ff8e;
}
nav ul li a.actual::before {
    background-color:  #99ff8e;
}

nav ul li a:visited {
 
}
nav ul li a:hover:not(.actual) {
    border: 4px solid pink;
    color: white;
    text-shadow: 0 0 0.25em rgb(255, 52, 218);
    box-shadow: inset 0 0 0.75em rgb(255, 52, 218), 0 0 0.95em rgb(255, 52, 218);
}
nav#estatico {
    position: fixed;
    z-index: 1;
    flex-direction: row;
    /*background: linear-gradient(to Right, purple, rgba(0,0,0, 0.5));*/
    background-color: white;
    box-shadow: 2px 2px 5px black;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    background: rgb(0 0 0) url(../img/fondoHeader.png);
    pointer-events: none;
}
nav#estatico h2 {
    position: relative;
    margin: 0;
    color: #ffbdff;
    font-family: "Monoton";
    padding: 1em;
    background-color: black;
    border: 4px solid purple;
    border-radius: 10px;
    box-shadow: inset 0 0 40px purple, 0 0 25px purple;
    text-shadow: 0 0 10px rgb(255, 191, 253);
}
nav#estatico h2::before {
    position: absolute;
    content: " ";
    top: 58%;
    left: 0;
    width: 100%;
    height: 24%;
    background-color: #ff9dff;
    transform: perspective(19px) rotateX(7deg);
    filter: blur(20px);
}
nav#estatico h2::first-letter {
    color: hsl(114, 100%, 71%);
    text-shadow: 0 0 10px rgb(209, 255, 202);
}
/*cuando el nav es visible */ 
nav#estatico.activo {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s;
    padding: 1em;
    box-sizing: border-box;
    background-blend-mode: luminosity;
    pointer-events: all;
}
nav#estatico ul {
    gap: 10px;
}
nav#estatico ul li {
    margin: 0;
}
nav#estatico ul li a::before {
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    width: 100%;
    gap: 400px;
    box-sizing: border-box;
}
main h2 {
    margin-top: 0;
    font-family: "Oleo Script Swash Caps";
}

main section p{
    margin-bottom: 0;
}
footer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    color: white;
    background-color: #212121;
    align-items: center;
    position: relative;
    height: 60vh;
}
footer div#infoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    padding: 5em;
    padding-left: 10em;
    padding-right: 10em;
    box-shadow: 3px 3px 5px black;
}
footer div#infoFooter h2 {
    margin: 0.5em;
}
footer div#infoFooter p {
    margin-bottom: 0;
}
footer div#principal {
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}
footer div#principal > div {
    flex-grow: 1;
    padding: 1em;
    box-sizing: border-box;
}
div#contactos {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
}
a.contacto {
    display: flex;
    align-items:center;
    gap: 10px;
    box-shadow: 0 2px 5px white;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
}
a.contacto img {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
}
a.contacto:hover {
    background-color: rgb(57, 57, 57);
    box-shadow: 0 0 40px pink;
}
div#interes {

}

div#interes ul li {

}

div#interes ul li a {
    color: rgb(226, 226, 226);
    text-decoration: underline;
}

div#logos {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
div.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px white;
    width: 100%;
}
div.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}
div#secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#secundario h1 {
    font-family: "Monoton";
    position: relative;
    margin: 0;
    color: #9e369e;
    /* text-shadow: 0 0 0.4em #ffd3fc; */
    width: fit-content;
    z-index: 0;
    text-shadow: 0 0 0.25em #ffd6fd;
}
div#secundario h1::first-letter {
    color: #daffde;
    font-size: 1.2em;
    text-shadow: 0 0 0.2em #99ff8e;
}
div#secundario h1::before {
    position: absolute;
    top: 26%;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    background: linear-gradient(180deg, #ffa7fc, #36003afc), linear-gradient(90deg, #0b5200, white);
    transform: perspective(1em) rotateX(170deg);
    z-index: -1;
    filter: blur(51px);
    background-blend-mode: darken;
    pointer-events: none;
}
div#secundario small {
    font-family: 'Oleo Script Swash Caps';
    font-size: 14pt;
}
div#secundario address {
    font-family: serif;
    font-size: 9pt;
}

/*tipografia generica*/
p {
    font-family: "Roboto Condensed";
} 

/*interactivos*/
button.redireccion {
    border: none;
    box-shadow: 3px 3px 5px black;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: rgb(121, 255, 119);
}
button.redireccion:hover {
    background-color: rgb(83, 255, 80);
    transform: scale(1.1);
} 
div.usuarioGrande::before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: black;
    z-index: -1;
    opacity: 0.6;
    transform: translateY(50%);
}
div.usuarioGrande {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
div.usuarioGrande div.usuarioImgCaja {
    display: flex;
    align-items: center;
    background: repeating-linear-gradient(45deg, #28002b, #520164 72px);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
    color: white;
    gap: 10px;
    padding: 0.5em;
    transition: transform 0.5s, filter 0.3s;
}
div.usuarioGrande div.usuarioImgCaja:hover {
    transform: scale(1.1);
    filter: contrast(0.7);
}
div.usuarioGrande div.usuarioImgCaja img {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 35px;
    padding: 5px;
    box-sizing: border-box;
}
div.usuarioGrande .contenido {
    display: flex;
    flex-direction: column;
}
div.usuarioGrande .contenido p {
    font-family: 'Oleo Script Swash Caps';
    margin: 0;
}
div.usuarioGrande button {
    background-color: #6b79ff;
    color: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #6b79ff, inset 0 0 7px #6b79ff;
    font-family: 'Oleo Script Swash Caps';
    border: 4px solid #adb5ff;
    font-size: 16pt;
}
div.usuarioGrande button:hover {
    background-color: #939eff;
    box-shadow: 0px 0px 10px #a3acff, inset 0 0 7px #96a0ff;
    border: 4px solid hsl(235, 100%, 98%);
}
.ocultoDerecha {
    left: 100%;
}