main section {
    position: relative;
    padding: 2em;
    box-shadow: 3px 3px 5px black;
    background-blend-mode: color;
}
main section p {
    font-size: 14pt;
    margin-bottom: 2em;
}
section#animacion3D {
    padding: 0;
    display: flex;
}
canvas {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

main section#bienvenida {
    background: rgba(255,255,255,0.5) url("../img/prueba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main section#funcionalidades {
    background: rgba(255,255,255,0.5) url("../img/pluma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main section#empezar {
    background: rgba(255,255,255,0.5) url("../img/videojuego.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
section h2 {
    font-size: 3em;
    color: #480249;
    font-weight: bold;
}
section h2 {
    border-bottom: 1px solid rgba(0,0,0,.5);
    border-width: 3px;
}
section p {
    text-align: justify;
}