main section {
    position: relative;
    padding: 2em;
    box-shadow: 3px 3px 5px black;
    background-blend-mode: color;
}
main section p {
    font-family: "DM Serif Text";
    font-size: 14pt;
    margin-bottom: 2em;
}

main section#bienvenida {
    background: rgba(255,255,255,0.5) url("../img/prueba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main section#funcionalidades {
    background: rgba(255,255,255,0.5) url("../img/pluma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main section#empezar {
    background: rgba(255,255,255,0.5) url("../img/videojuego.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main section#empezar button#empezar {
    border: none;
    box-shadow: 3px 3px 5px black;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    background-color: rgb(121, 255, 119);
}
section h2 {
    font-size: 3em;
    color: #480249;
    font-weight: bold;
}
section h2 {
    border-bottom: 1px solid rgba(0,0,0,.5);
    border-width: 3px;
}
section p {
    text-align: justify;
}