main {
    padding: 0;
}
main section {
    background: rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section p {
    font-size: 14pt;
    margin-bottom: 2em;
}
main section:nth-child(2n+1) {
    background-color: white;
}
main section:nth-child(2n) {
    background-color: rgb(221, 221, 221);
}
section#animacion3D {
    padding: 0;
    display: flex;
}
div.contenedorImagen {
    display: flex;
}
.contenedorImagen img {
    width: 100%;
}

div.textoSecundario {
    width: 20%;
    padding: 3em;
}
div.textoSecundario ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14pt;
}
div.textoSecundario ul li {
    text-align: justify;
}
div.textoSecundario h2 {
    font-size: 23pt;
    overflow:hidden;
}
main section#bienvenida .contenedorImagen img {
    width: 100vw;
}

main section#funcionalidades {
    flex-direction: row;
}
section#funcionalidades .contenedorImagen {
    position: relative;
    float: left;
}
section#funcionalidades .contenedorImagen img {
    width: auto;
    height: 80vh;
}
section#empezar {
    gap: 3em;
}
section#empezar div.textoSecundario {
    display:flex;
    flex-direction:column;
    align-items: center;
}
section#empezar .contenedorImagen {
    width: 100vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
section#empezar .contenedorImagen::before {
    position: absolute;
    top:0;
    left:0;
    content: " ";
    width: 100%;
    height: 100%;
    
    background: url(/bloomJS/img/videojuego.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 10%;

    animation-name: moverImagen;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes moverImagen {
    from {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
}
div.enlaces {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 3em;
}
div.enlace {
    padding: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
    box-shadow: 1px 1px 6px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.enlace h2 {
    font-size: 18pt;
}
section h2 {
    font-size: 3em;
    color: #480249;
    font-weight: bold;
}
section h2 {
    border-bottom: 1px solid rgba(0,0,0,.5);
    border-width: 1px;
}
section p {
    text-align: justify;
}