main form {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 0;
    position: relative;
    padding: 0;
    flex-direction: column;
}
main form h1 {
    padding-right: 4em;
}
main form div.banda {
    position: absolute;
    top: 0;
    left: 68%;
    width: 4em;
}
main form .contenido .campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
body main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    width: 100%;
    gap: 400px;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
    justify-content: center;
}