div#cabecera {
    height: auto;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1em;
    padding-left: 10%;
    gap: 2em;
    box-sizing: border-box;
    align-items: center;
    padding-right: 10%;
    width: 100%;
}
main .contenido {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header {
    overflow: hidden;
}