.caja-neon {
    background-color: #47003d;
    color: #730069;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #47003d, inset 0 0 7px #47003d;
    font-family: 'Oleo Script Swash Caps';
    border: 4px solid #690050;
    font-size: 16pt;
}
.caja-neon:hover {
    background-color: #47003d;
    box-shadow: 0px 0px 25px #ffbdf7, inset 0 0 15px #ffbdf7;
    border: 4px solid #ffafec;
    color: #ffbdf7;
}
.texto-neon {
    color: #730069;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Oleo Script Swash Caps';
    font-size: 16pt;
    animation-name: animTextoNeon;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.texto-neon:hover {
    color: #ffbdf7;
}
@keyframes animTextoNeon {
    from {
        color: white;
        text-shadow: 0 0 0.25em rgb(255, 52, 218);
    }
    10% {
        color: rgb(80, 0, 65);
        text-shadow: 0 0 0.1em rgb(50, 0, 41);
    }
    20% {

    }
    30% {

    }
    50% {
        color: rgb(80, 0, 65);
        text-shadow: 0 0 0.1em rgb(50, 0, 41);
    }
    60% {
        color: white;
        text-shadow: 0 0 0.25em rgb(255, 52, 218);
    }
    70% {
        color: rgb(80, 0, 65);
        text-shadow: 0 0 0.1em rgb(50, 0, 41);
    }
    80% {
        color: white;
        text-shadow: 0 0 0.25em rgb(255, 52, 218);
    }
    to {
        color: rgb(80, 0, 65);
        text-shadow: 0 0 0.1em rgb(50, 0, 41);
    }
}
.boton-neon {
    color: #6c6c6c;
    text-shadow: 0 0 5px black;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black, inset 0 0 7px black;
    font-family: 'Oleo Script Swash Caps';
    border: 4px solid #6c6c6c;
    font-size: 16pt;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.boton-neon:hover {
    box-shadow: 0px 0px 40px rgb(255, 52, 218), inset 0 0 45px rgb(255, 52, 218);
    border: 4px solid hsl(296, 100%, 91%);
    color: white;
    text-shadow: 0 0 0.25em rgb(255, 52, 218);
}