.servidor {
    display: flex;
    position: fixed;
    top: 0;
    left: 100%;
    padding-left: 100%;
    width: 100%;
    height: auto;
    z-index: 999;
    padding: 2em;
    margin: 0;
    opacity: 1;
    transition: left 1s, opacity 1s;
}
.servidor.informacion {
    background-color: rgb(162, 255, 162);
    color: black;
}
.servidor.error {
    background-color: crimson;
    color: white;
}
.malla.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 25px;
    padding: 1em;
    box-sizing: border-box;
}