.usuarioGrande {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1em;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 2px 2px 5px black;
    flex-direction: row;
    background: repeating-linear-gradient(45deg, #5b0062, #760090 72px);
}

div.usuarioGrande div.usuarioImgCaja {
    display: flex;
    box-sizing: border-box;
    color: white;
    gap: 10px;
    transition: transform 0.5s, filter 0.3s;
    border-radius: 10px;
    flex-direction: row;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

div.usuarioGrande .infoUsuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.usuarioGrande div.usuarioImgCaja img {
    background-color: white;
    border-radius: 35px;
    padding: 5px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}
div.usuarioGrande .contenido {
    display: flex;
    flex-direction: column;
}
div.usuarioGrande .contenido p {
    font-family: 'Oleo Script Swash Caps';
    margin: 0;
}
div.usuarioGrande .contenido a {
    color: rgb(56, 56, 255);
}
div.usuarioGrande .contenido a:hover {
    color: rgb(133, 133, 255);
}
.usuarioGrande .boton-neon {
    padding: 0;
    margin: 0;
}