.InterfazCanvas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InterfazCanvas div[class*='Menu'] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.MenuGeneral {
    display: flex;
    flex-direction: column;
    background-color: #1f001f;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: scroll;
}
.barraPestanas {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: #410041;
    border-radius: 5px;
}
.barraPestanas li {
    padding: 10px;
    user-select: none;
    width: 25%;
    text-align: center;
}
.barraPestanas li:hover {
    background-color: rgb(158, 42, 158);
}
.barraPestanas li.actual {
    background-color: rgb(34, 0, 34);
    color: rgb(146, 146, 146);
}
.MenuGeneral .contenedorSubmenus {
    display: flex;
    flex-direction: column;
}
.contenedorSubmenus .submenus .submenu {
    width: 100%;
}
.BarraCierre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.BarraCierre img {
    width: 25px;
    height: 25px;
    transition: transform 0.1s;
    box-shadow: 0 0 15px pink;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(255, 229, 229);
}
.BarraCierre img:hover {
    transform: scale(1.05);
}
.ListaPestanas {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: rgb(70, 0, 70);
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
}
.ListaPestanas li {
    padding: 10px;
    user-select: none;
}
.ListaPestanas li.actual {
    color: rgb(164, 164, 164);
    background-color: rgb(62, 0, 62);
}
.ListaPestanas li:not(.actual) {
    background-color: purple;
}
.ListaPestanas li:not(.actual):hover {
    background-color: rgb(172, 36, 172);
}
.invisible {
    display: none;
}
.BarraCierre h1 {
    user-select: none;
}
.InputPersonalizado {
    display: flex;
    align-items: center;
    gap: 10px;
}
.InputPersonalizado img {
    height: 20px;
}
dialog .botonera {
    display: flex;
    gap: 1em;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
dialog .botonera button:focus {
    outline: none;
}
dialog {
    background-color: #ffffff;
    border-radius: 20px;
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border: none;
    box-shadow: 2px 2px 5px black;
}
dialog button.aceptar {
    background-color: #4bb54b;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 11pt;
    box-shadow: 1px 1px 5px black;
}
dialog button.aceptar:hover {
    box-shadow: 0 0 2px black;
    background-color: #348134;
}
dialog button.aceptar:focus {
    outline: none;
}
dialog::backdrop {
    background-color: #b6b6b6d4;
}