.InterfazCanvas {
    position: relative;
}
.InterfazCanvas div[class*='Menu'] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.MenuGeneral {
    display: flex;
    flex-direction: column;
    background-color: #1f001f;
    color: white;
    padding: 1em;
    box-sizing: border-box;
}