.MenuInterfaz {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #390044;
    color: white;
    box-sizing: border-box;
    flex-grow:1;
}
.MenuInterfaz.maximizado {
    height: 5vh;
}
.MenuInterfaz.maximizado li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.MenuInterfaz li {
    transition: background-color 0.1s, color 0.1s;
    user-select: none;
    box-shadow: 0 0 5px pink;
    background: linear-gradient(45deg, #593b57, #282828);
    text-align: center;
    min-width: 10%;
    padding: 10px;
}
.MenuInterfaz li:hover {
    background: linear-gradient(45deg, #bc5ab5, #8a0e8a);
    box-shadow: 0 0 1px rgb(174, 109, 121), inset 0 0 25px pink;
}
.desplegable {
    /*alterable con hover js*/
    position: absolute;
    display: none;
    pointer-events: none;

    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);

    z-index: 1;
}
.desplegable li {
    transition: background-color 0.1s, color 0.1s;
}
.desplegable.activo {
    display: flex;
    pointer-events: all;
}
.MenuInterfaz p {
    margin: 0;
}
.SubmenuInterfaz {
    position: relative;
}
#subirModelo {
    background-color: #63b55e;
    border: none;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
}
#subirModelo:hover {
    box-shadow: 0 0 2px black;
    background-color: #519d4d;
}