@import './base.css';
@import './animation.css';
@import './fonts.css';

@import './responsive/desktop.css';

html {
  scroll-behavior: smooth;
}

body {
  text-align: justify;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Rubik Dirt';
}
ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
.social-link:visited {
  color: inherit;
}
.social-link img {
  width: 25px;
  height: auto;
}

.social-link img.md-icon {
  width: 50px;
  height: auto;
  background-color: rgb(235, 235, 235);
  border-radius: 50px;
  padding: 10px;
}

.md-icon {
  width: 50px;
  height: auto;
}

.horizontal-cards {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  color: var(--light);
  background-position: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.card h3::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-color: black;
  filter: blur(50px);
}
.card h3 {
  display: flex;
  width: 100%;
  padding: 2em;
  justify-content: center;
  position: relative;
}

.horizontal-cards .card:nth-of-type(1) {
  transform: scale(0.95) rotateZ(-5deg);
}

.horizontal-cards .card:nth-of-type(2) {
  transform: scale(1.05) rotateZ(2deg);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}