.BarraVentana {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: linear-gradient(45deg, #3e143b, #3a003c);
    align-items: stretch;
}
.BarraVentana h1 {
    margin: 0;
    user-select: none;
    color: white;
    padding-left: 1em;
    align-self: center;
    padding-right: 1em;
    font-size: 14pt;
    font-family: 'Oleo Script Swash Caps';
}
.BarraVentana .botones {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #212121, #99749b);
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.BarraVentana .botones .BotonImagen {
    width: 25px;
    height: 25px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    transition: transform 0.2s;
    user-select: none;
}
.BarraVentana .botones .BotonImagen:hover {
    transform: scale(1.1);
}
.minimizado {
    display: none;
}
.BarraVentana.maximizado {
    height: 5vh;
}