.MallaEscenas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.plantilla.escena {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px black;
    background-color: rgb(142, 173, 129);
    border-radius: 10px;
    transition: transform 0.3s;
}
.plantilla.escena:hover {
    color: black;
    transform: scale(1.05);
}
.plantilla.escena img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.plantilla.escena h4 {
    padding-left: 10px;
    padding-right: 10px;
}