canvas {
    width: 100%;
    height: auto;
}
canvas:focus {
    outline: none;
}
canvas.maximizado {
    height: 95vh;
    width: auto;
}
.VentanaCanvas.maximizado {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.VentanaCanvas {
    background-color: black;
}